body,
html {
  font-family: "Londrina Solid";
  height: 50%;
  margin: 0 auto;
  position: relative;
  background: #00c3ff;
}

/*Title */
.title {
  height: 4vw;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-wrap: nowrap;
  flex-grow: 0;
  padding: 1vw;
  overflow: hidden;
  list-style: none;
  border: solid 0.15vw #ffffff;
  /* border-image-source: linear-gradient(to right, #1cf7ff, #00c3ff); */
  font-size: 4vw;
}

/* Table column sizing
  ================================== */

.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
/* Page styling
  ================================== */
@font-face {
  font-family: "Londrina Solid";
  src: url("fonts/LondrinaSolid-Regular.ttf");
}

/* table heads */

div.numbers {
  padding-right: 0.2vw;
  text-align: center;
}

.letters {
  text-align: center;
  padding-bottom: 0;
}
/* Button styling */
.place {
  background-color: #fee140;
  background-image: linear-gradient(to bottom, #fee140 0%, #fa709a 100%);

  font-size: 0;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.place:hover {
  background: linear-gradient(to bottom, #68f54c 5%, #61b350 100%);
  cursor: pointer;
  box-sizing: border-box;
}

/* Teams */

.teamsContainer {
  position: relative;
  margin: auto;
}
.team {
  margin: 0 2vw 0 0;
  text-align: center;
  float: left;
}
.team h4 {
  font-size: 3vw;
  margin: 1vw auto 0 auto;
}

.points {
  font-size: 2vw;
  padding-bottom: 1vw;
}
/* Typhoon gif */

#TyphoonGif {
  position: relative;
  visibility: hidden;
  height: 49vw;
  margin: 0 auto;
  background-image: url("typhoongif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
}
