:root {
  --red: #fc564d;
  
  --blue: #5519ff;
  --yellow: #fff400;
  --orange: #e8a132;
  --pink: #d90968;
  --purple:#FF7DF0;
  --other-green:#99FF00;
  --dark-blue: rgb(1, 6, 77);
  --green: #99c90b;

  --green-outline-shadow: #38B543;
  --green-outline-highlight: #60CC5C;
  --blue-outline-shadow: #3872B5;
  --blue-outline-highlight: #35A3CC;
  --yellow-outline-shadow: #C4BB00;
  --yellow-outline-highlight: #FFF64D;
  --pink-outline-shadow: #F002E4;
  --pink-outline-highlight: #AE02E6;
  --red-outline-shadow: #E65D3C;
  --red-outline-highlight: #FE8242;
  --orange-outline-shadow: #F56F2A;
  --orange-outline-highlight: #FF922B;
  
}

/* fun text style */
 
.red {
  color: #FF473D !important;
  font-size: 5vw !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--dark-blue);
  text-shadow: 0 1px 0px var(--green-outline-shadow), 
  1px 0 0px var(--green-outline-highlight), 
  1px 2px 1px var(--green-outline-shadow), 
  2px 1px 1px var(--green-outline-highlight), 
  2px 3px 2px var(--green-outline-shadow), 
  3px 2px 2px var(--green-outline-highlight), 
  3px 4px 2px var(--green-outline-shadow), 
  4px 3px 3px var(--green-outline-highlight), 
  4px 5px 3px var(--green-outline-shadow), 
  5px 4px 2px var(--green-outline-highlight), 
  5px 6px 2px var(--green-outline-shadow), 
  6px 5px 2px var(--green-outline-highlight), 
  6px 7px 1px var(--green-outline-shadow),
  7px 6px 1px var(--green-outline-highlight),
  7px 8px 0px var(--green-outline-shadow), 
  8px 7px 0px var(--green-outline-highlight), 
  -12px -12px 2px rgba(49,206,99,0);
}

.yellow {
  color: var(--yellow) !important;
  font-size: 5vw !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--dark-blue);
  text-shadow: 0 1px 0px var(--blue-outline-shadow), 
  1px 0 0px var(--blue-outline-highlight), 
  1px 2px 1px var(--blue-outline-shadow), 
  2px 1px 1px var(--blue-outline-highlight), 
  2px 3px 2px var(--blue-outline-shadow), 
  3px 2px 2px var(--blue-outline-highlight), 
  3px 4px 2px var(--blue-outline-shadow), 
  4px 3px 3px var(--blue-outline-highlight), 
  4px 5px 3px var(--blue-outline-shadow), 
  5px 4px 2px var(--blue-outline-highlight), 
  5px 6px 2px var(--blue-outline-shadow), 
  6px 5px 2px var(--blue-outline-highlight), 
  6px 7px 1px var(--blue-outline-shadow),
  7px 6px 1px var(--blue-outline-highlight),
  7px 8px 0px var(--blue-outline-shadow), 
  8px 7px 0px var(--blue-outline-highlight), 
  -12px -12px 2px rgba(49,206,99,0);
}

.green {
  color: #FFB439 !important;
  font-size: 5vw !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--dark-blue);
  text-shadow: 0 1px 0px var(--pink-outline-shadow), 
  1px 0 0px var(--pink-outline-highlight), 
  1px 2px 1px var(--pink-outline-shadow), 
  2px 1px 1px var(--pink-outline-highlight), 
  2px 3px 2px var(--pink-outline-shadow), 
  3px 2px 2px var(--pink-outline-highlight), 
  3px 4px 2px var(--pink-outline-shadow), 
  4px 3px 3px var(--pink-outline-highlight), 
  4px 5px 3px var(--pink-outline-shadow), 
  5px 4px 2px var(--pink-outline-highlight), 
  5px 6px 2px var(--pink-outline-shadow), 
  6px 5px 2px var(--pink-outline-highlight), 
  6px 7px 1px var(--pink-outline-shadow),
  7px 6px 1px var(--pink-outline-highlight),
  7px 8px 0px var(--pink-outline-shadow), 
  8px 7px 0px var(--pink-outline-highlight), 
  -12px -12px 2px rgba(49,206,99,0);
}

.pink {
  color: var(--other-green) !important;
  font-size: 5vw !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--dark-blue);
  text-shadow: 0 1px 0px var(--red-outline-shadow), 
  1px 0 0px var(--red-outline-highlight), 
  1px 2px 1px var(--red-outline-shadow), 
  2px 1px 1px var(--red-outline-highlight), 
  2px 3px 2px var(--red-outline-shadow), 
  3px 2px 2px var(--red-outline-highlight), 
  3px 4px 2px var(--red-outline-shadow), 
  4px 3px 3px var(--red-outline-highlight), 
  4px 5px 3px var(--red-outline-shadow), 
  5px 4px 2px var(--red-outline-highlight), 
  5px 6px 2px var(--red-outline-shadow), 
  6px 5px 2px var(--red-outline-highlight), 
  6px 7px 1px var(--red-outline-shadow),
  7px 6px 1px var(--red-outline-highlight),
  7px 8px 0px var(--red-outline-shadow), 
  8px 7px 0px var(--red-outline-highlight), 
  -12px -12px 2px rgba(49,206,99,0);
}

.blue {
  color: var(--blue-outline-highlight) !important;
  font-size: 5vw !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--dark-blue);
  text-shadow: 0 1px 0px var(--yellow-outline-shadow), 
  1px 0 0px var(--yellow-outline-highlight), 
  1px 2px 1px var(--yellow-outline-shadow), 
  2px 1px 1px var(--yellow-outline-highlight), 
  2px 3px 2px var(--yellow-outline-shadow), 
  3px 2px 2px var(--yellow-outline-highlight), 
  3px 4px 2px var(--yellow-outline-shadow), 
  4px 3px 3px var(--yellow-outline-highlight), 
  4px 5px 3px var(--yellow-outline-shadow), 
  5px 4px 2px var(--yellow-outline-highlight), 
  5px 6px 2px var(--yellow-outline-shadow), 
  6px 5px 2px var(--yellow-outline-highlight), 
  6px 7px 1px var(--yellow-outline-shadow),
  7px 6px 1px var(--yellow-outline-highlight),
  7px 8px 0px var(--yellow-outline-shadow), 
  8px 7px 0px var(--yellow-outline-highlight), 
  -12px -12px 2px rgba(49,206,99,0);
}


body,
html {
  font-family: "Londrina Solid";
  height: 50%;
  margin: 0 auto;
  position: relative;
  background: hsl(194, 100%, 80%);
  height: 100%;
  overflow: hidden;
  
}

/*Title */
.title {
  height: 4vw;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  
  z-index: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  filter: blur(5px);
  opacity: 0.7;
  pointer-events: none;
  animation-duration: 1s;
}

/* Rtable unblur animation */
@keyframes unBlur {
  0% {
    filter: blur(5px);
    opacity: 0.7;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.Rtable-cell {
  box-sizing: border-box;
  flex-wrap: nowrap;
  flex-grow: 0;
  padding: 1vw;
  overflow: hidden;
  list-style: none;
  
  /* border-image-source: linear-gradient(to right, #1cf7ff, #00c3ff); */
  font-size: 4vw;
  place-items: center;
}

/* Table column sizing
  ================================== */

.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
  height:14vh;
}
/* Page styling
  ================================== */
@font-face {
  font-family: "Londrina Solid";
  src: url("../fonts/LondrinaSolid-Regular.ttf");
}

/* table heads */

div.numbers {
  padding-right: 0.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  text-align: center;
  color: var(--dark-blue);
  border-right: 3px solid var(--dark-blue);
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  text-align: center;
  color: var(--dark-blue);
  border-bottom:  3px solid var(--dark-blue);
  font-size: 4vw !important;
 /*  padding-bottom: 0; */
}

.no-border{
  border:none;
}

.border-right {
 border-right: 3px solid var(--dark-blue) !important;
}

.emoji {
  text-shadow: none;
  padding-left: 1vw;
}
/* Button styling */
.place {
  background-color: #fee140;
  background-image: linear-gradient(to bottom,  0%, #FFFF7A #FFF500 100%);
  border: 3px solid var(--dark-blue);
  text-shadow: var(--dark-blue) 0px -2px 0;
box-shadow: inset 0px -5px 10px 1px rgba(1, 6, 77, 0.6);
  font-size: 0;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.place:hover {
  background: linear-gradient(to bottom, #68f54c 5%, #61b350 100%);
  cursor: pointer;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
  background-image: linear-gradient(to top, #fee140 0%, #fa709a 100%);
  box-shadow: inset 0px 5px 10px 1px rgba(1, 6, 77, 0.6);
}

/* Teams */

#teamsContainer {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 99vw;
  margin-top: 1vw;
}
.team {
  margin: 0 2vw 0 0;
  text-align: center;
  float: left;
}
.team h4 {
  font-size: 3vw;
  margin: 0 auto 0 auto;
  color: rgba(26, 0, 87, 1);
}

.team .selected {
  color: var(--yellow);
  -webkit-text-stroke: var(--pink);
  -webkit-text-stroke-width: 0.15vw;
  animation-name: hvr-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.points {
  font-size: 2vw;
  padding-bottom: 1vw;
}

.skipTurn {
  margin-top: 0;
  order: 1;
}
/* Typhoon gif */

#TyphoonGif {
  position: relative;
  visibility: hidden;
  height: 49vw;
  margin: 0 auto;
  background-image: url("../img/typhoongif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 9999;
}

/* modal */

.logo {
  width: 40%;
  height: 40%;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: bounceInDown;
  animation-duration: 1.5s;
  color: var(--dark-blue);
}

.modalGameOver {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  animation-duration: 1.5s;
}

@keyframes bounceInDown {
  0% {
    top: -500%;
  }
  70% {
    top: 50%;
  }
  85% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}

@keyframes disappear {
  0% {
    width: 50vw;
  }
  100% {
    width: 0;
  }
}

.message {
  font-size: 5vw;
  margin: 1vw 0;
}

.endGameMessage {
  font-size: 4vw;
  margin: 3vw auto;
}
.btn {
  color: inherit;
  font-family: inherit;
  font-size: 2vw;
  background: white;
  max-height: 5vw;
  padding: 0.4vw 1vw;
  border: 0.2vw solid black;
  margin-right: 2.6vw;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  outline: none;
}

.btn:disabled, .btn:disabled:hover, .btn:disabled:active {
  opacity: 0.5;
  box-shadow: none;
  transform: none;
}

.btn:hover {
  box-shadow: 0.4vw 0.4vw 0 black;
  transform: translate(-0.4vw, -0.4vw);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.btn.round-corners {
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.plus {
  background-image: url(../img/plus.svg);
  background-position: center;
  background-size: 1vw;
  background-repeat: no-repeat;
}

.minus {
  background-image: url(../img/minus.svg);
  background-position: center;
  background-size: 1vw;
  background-repeat: no-repeat;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.undo {
  background-image: url(../img/undo.svg);
  background-position: center;
  background-size: 3vw;
  background-repeat: no-repeat;
  width: 4vw;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  height: 4vw;
}

#T {
  font-size: 3vw;
  margin: 1vw 0;
}

/* get extra space for the reset and go buttons */
div.options + div.options {
  margin-top: 3vw;
}

/* remove effects from number of teams */
.no-effects:hover {
  box-shadow: none;
  transform: translate(0, 0);
}

/*celebration gif */
#celebrationGif {
  display: flex;
  margin: auto;
  width: 300px;
}

/* scorePopup */
.scorePop {
  position: absolute;
  box-sizing: border-box;
  left: 40%;
  top: 25%;
  background-image: linear-gradient(to bottom, #fee140 0%, #fa709a 100%);
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.5vw solid black;
  text-shadow: var(--dark-blue) 0px -3px 0;
  border-radius: 10%;
  color: white;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 9999;
  visibility: hidden;
  font-weight: bold;
  font-size: 25vw;
  padding: 1vw;
}

.scorePop h1 {
  transform: translateY(-70%);
  display: flex;
  
}

@keyframes jumpInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5) rotate(-90deg);
  }
  50% {
    opacity: 1;
    transform: scale3d(1.2, 1.2, 1.2) rotate(10deg);
  }
  70% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-5deg);
  }
  90% {
    transform: scale3d(1, 1, 1) rotate(0deg);
  }
}

.jumpOutRight {
  -webkit-animation-name: jumpOutRight;
  animation-name: jumpOutRight;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes jumpOutRight {
  0% {
    -webkit-transform: scale3d(1, 1, 1) rotate(0deg);
    transform: scale3d(1, 1, 1) rotate(0deg);
  }
  30% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate(5deg);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
    transform: scale3d(1.2, 1.2, 1.2) rotate(-10deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
    transform: scale3d(0.5, 0.5, 0.5) rotate(90deg);
  }
}

/* Typhoon Shake */
/*! * * * * * * * * * * * * * * * * * * * *\  
  CSShake :: shake-hard
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-hard {
  display: inherit;
  transform-origin: center center;
  animation-name: shake-hard;
  animation-duration: 3s;
}

@keyframes shake-hard {
  2% {
    transform: translate(5px, 7px) rotate(0.5deg);
  }
  4% {
    transform: translate(5px, 9px) rotate(3.5deg);
  }
  6% {
    transform: translate(-2px, -5px) rotate(3.5deg);
  }
  8% {
    transform: translate(4px, 8px) rotate(-1.5deg);
  }
  10% {
    transform: translate(2px, 9px) rotate(-0.5deg);
  }
  12% {
    transform: translate(-5px, -4px) rotate(-2.5deg);
  }
  14% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  16% {
    transform: translate(-8px, 8px) rotate(2.5deg);
  }
  18% {
    transform: translate(4px, 5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(3px, -3px) rotate(3.5deg);
  }
  22% {
    transform: translate(0px, -6px) rotate(-1.5deg);
  }
  24% {
    transform: translate(-6px, -6px) rotate(3.5deg);
  }
  26% {
    transform: translate(-8px, -6px) rotate(0.5deg);
  }
  28% {
    transform: translate(-3px, -6px) rotate(1.5deg);
  }
  30% {
    transform: translate(7px, 8px) rotate(-1.5deg);
  }
  32% {
    transform: translate(7px, 6px) rotate(2.5deg);
  }
  34% {
    transform: translate(-7px, -7px) rotate(-2.5deg);
  }
  36% {
    transform: translate(7px, 3px) rotate(-0.5deg);
  }
  38% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  40% {
    transform: translate(-3px, 4px) rotate(-0.5deg);
  }
  42% {
    transform: translate(-1px, 10px) rotate(3.5deg);
  }
  44% {
    transform: translate(9px, 3px) rotate(3.5deg);
  }
  46% {
    transform: translate(-3px, 8px) rotate(-2.5deg);
  }
  48% {
    transform: translate(-5px, 7px) rotate(3.5deg);
  }
  50% {
    transform: translate(-9px, -5px) rotate(0.5deg);
  }
  52% {
    transform: translate(2px, 4px) rotate(0.5deg);
  }
  54% {
    transform: translate(2px, -9px) rotate(-2.5deg);
  }
  56% {
    transform: translate(-2px, 9px) rotate(-1.5deg);
  }
  58% {
    transform: translate(0px, 4px) rotate(0.5deg);
  }
  60% {
    transform: translate(-6px, 10px) rotate(3.5deg);
  }
  62% {
    transform: translate(-1px, 3px) rotate(2.5deg);
  }
  64% {
    transform: translate(5px, -5px) rotate(0.5deg);
  }
  66% {
    transform: translate(5px, 3px) rotate(3.5deg);
  }
  68% {
    transform: translate(1px, -7px) rotate(-2.5deg);
  }
  70% {
    transform: translate(7px, 3px) rotate(0.5deg);
  }
  72% {
    transform: translate(-9px, -8px) rotate(-2.5deg);
  }
  74% {
    transform: translate(9px, 10px) rotate(-1.5deg);
  }
  76% {
    transform: translate(-1px, -7px) rotate(1.5deg);
  }
  78% {
    transform: translate(-7px, -4px) rotate(-1.5deg);
  }
  80% {
    transform: translate(8px, -3px) rotate(3.5deg);
  }
  82% {
    transform: translate(9px, 5px) rotate(0.5deg);
  }
  84% {
    transform: translate(-4px, -7px) rotate(1.5deg);
  }
  86% {
    transform: translate(-7px, 9px) rotate(2.5deg);
  }
  88% {
    transform: translate(0px, 10px) rotate(1.5deg);
  }
  90% {
    transform: translate(7px, 4px) rotate(-2.5deg);
  }
  92% {
    transform: translate(-9px, 10px) rotate(-1.5deg);
  }
  94% {
    transform: translate(4px, -8px) rotate(0.5deg);
  }
  96% {
    transform: translate(9px, 0px) rotate(1.5deg);
  }
  98% {
    transform: translate(8px, -3px) rotate(1.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-hard:hover,
.shake-trigger:hover .shake-hard,
.shake-hard.shake-freeze,
.shake-hard.shake-constant {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    
}